NODE_ENV=development
PORT=8080
MONGODB_URI=mongodb://127.0.0.1:27017/bmd_ecommerce
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d
ADMIN_CREDS=admin@cosmos.tech:Admin@123,owner@cosmos.tech:Owner@123
CORS_ORIGIN=http://localhost:5173
SEED_ON_START=false


